:root {
  --max-width: 1440px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  border: solid 1px black;
}

.basictitle{
  font-family: Lora;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color: #10375C;
}
.basicsubtitle{
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #9A9A9A;
}

.right{
  cursor: pointer;
}
.left{
  cursor: pointer;
}